<!--Stamped - Begin Main Widget -->
<div style="max-width:90%;margin-left:auto; margin-right:auto;"
id="stamped-main-widget"   
data-product-id="{{ product.id }}"   
data-name="{{ product.title | escape }}"   
data-url="{{ shop.url }}{{ product.url }}"   
data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" 
data-description="{{ product.description | escape }}"   
data-product-sku="{{product.handle}}"
data-product-title="{{product.title}}" 
data-product-type="{{product.type}}">   
{{product.metafields.stamped.reviews}}   
</div>
<!-- Stamped - End Main Widget -->

<!-- /snippets/products-recommendation.liquid -->
{%- if recommendations.performed -%}
  {%- if recommendations.products_count > 0 -%}
    <div class="product-grid-outer">
      <div class="product-grid{% unless settings.product_grid_outline %} product-grid--borderless{% endunless %} flickity-button-circle product-grid--mobile-slider" id="product-recommendations" data-slider data-watch-css="true" data-cell-align="left" data-adaptive-height="false" data-dots="hidden" data-arrows="true" data-arrow-position-middle data-equalize-height="true">
        {%- assign grid_strings = 'large-up--one-quarter medium--one-quarter small--one-whole' -%}
  
        {%- for product in recommendations.products -%}
          {% assign animation_delay = forloop.index0 | times: 1 %}
          {%- assign layout_slide_attributes = 'data-slide="' | append: forloop.index0 | append: '" data-slide-index="' | append: forloop.index0 | append: '"' -%}
          {% render 'product-grid-item', product: product, grid_strings: grid_strings, animation_delay: animation_delay, additional_attributes: layout_slide_attributes, animation_anchor: '#product-recommendations' %}
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}
{%- else -%}
  <div class="related__placeholder"></div>
{%- endif -%}
